@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

/* header */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    /* background-color: white; */
    
 
 }

 body{
    background-color: #2f2f2f;
 }
 html{
    scroll-behavior: smooth;
 }

 footer {
   font-size: 0.8rem;
   text-align: right;
   color: white;
   padding: 10px;
   clear: both;
   padding-top: 50px;
}
footer a{
   color: #e7c800;
}


.header {
    width: 100%;
    height: 100px;
    display: block;
    background-color: #232323;
    position: fixed;
    box-shadow: var(--box-shadow);
    border-bottom: 1px solid white;
 }
 
 .inner_header {
    width: 75%;
    height: 100%;
    display: block;
    margin: 0 auto;
 
 }

 .logo_container h1 span{
     font-weight: 200;
 }
 
 .logo_container {
    width: 200px;
    text-align: center;
    height: 100%;
    display: table;
    float: left;
 }
 
 .logo_container h1 {
     width: 200px;
     padding: 29px;
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 80px;
    border: 1px solid #232323;
 }
 
 
 
 .navigatione {
    /* border: solid black;  */
    float: right;
    height: 100%;
    font-size: 40px;
 }
 
 .navigatione a {
    vertical-align: middle;
    display: table;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    width: 180px;
    height: 100%;
    color: white;
    border-radius: 80px;
    border: 1px solid #232323;

 }

 .przerwa {
    line-height: 30px;
 }
 
 .navigatione a:last-child {
    padding-right: 20px;
    padding-left: 20px;
 
 
 }
 
 
 .navigatione a:hover {
    background: #363636;
    transition: .3s;
    border-radius: 0px;
    border: 1px solid white;
 }
 
 .logo_container h1:hover {
    background: #363636;
    transition: .3s;
    padding: 30px;
    border-radius: 0px;
    border: 1px solid white;
 }
 

 
 .navigatione a li {
    /* border: solid black;  */
    font-weight: 400;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
 }


 /* header koniec*/

 /* logowanie */





 .formularz{
    color: white;
    background-color: #2f2f2f;
    text-align: center;
    margin: auto;
    width: 25%;
    font-size: 18px;
 }

 .formularz .ramka h1{
    color: #ffffff;
    text-shadow: 0 0 5px black;
    font-weight: 400;
 }

 .edytuj{
   text-align: center;
   padding-left: auto;
   padding-right: auto;
   /* border: 2px solid white; */
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   width: 40%;
   height: 200px;
   padding-bottom: 20px;
   
 }
 
.edytuj .image-edytuj{
   height: 400px;
   width: 100%;
   border-radius: 1%;
   box-shadow: var(--box-shadow);
   border-radius: 1%;
   overflow: hidden;
   object-position: center center;
   object-fit: cover;
   padding-top: 25px;
;
}
 

 .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    border-radius: .25rem;
    box-shadow: 3px 3px 7px rgb(39, 39, 39);
    background-color: #000000;
    color: white;
 }

 .form-group{
    text-align: left;
 }

 .btnpage{
    color: black;
    font-size: 17px;
    background: #e7c800;
    /* display: inline-block;
    width: min-content;
    white-space: nowrap; */
    border: 1px solid transparent;
    border-radius: 3px;
    padding: .1rem .5rem;
    line-height: 1.7;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: right;
    font-weight: 600;
 }

 .btnpage:hover{
   cursor: pointer;
 }
 .btnzobacz{
   color: black;
   font-size: 22px;
   background: #e7c800;;
   /* display: inline-block;
   width: min-content;
   white-space: nowrap; */
   border: 1px solid transparent;
   border-radius: 3px;
   padding: 15px;
   line-height: 1.7;
   vertical-align: middle;
   text-transform: uppercase;
   text-align: right;
   border-radius: 5px 5px 5px 5px;
   font-weight: 600;
}

.btnwypo{
   color: black;
   font-size: 22px;
   background: #e7c800;;
   /* display: inline-block;
   width: min-content;
   white-space: nowrap; */
   border: 1px solid transparent;
   border-radius: 3px;
   padding: 10px;
   line-height: 1.7;
   
   text-transform: uppercase;
   text-align: right;
   border-radius: 5px 5px 5px 5px;
   font-weight: 600;
   clear: both;
   width: 6%;
   
  
}
.btnusun{
   color: black;
   font-size: 22px;
   background: #e7c800;;
   /* display: inline-block;
   width: min-content;
   white-space: nowrap; */
   border: 1px solid transparent;
   border-radius: 3px;
   padding: 10px;
   line-height: 1.7;
   
   text-transform: uppercase;
   text-align: right;
   border-radius: 5px 5px 5px 5px;
   font-weight: 600;
   clear: both;
   padding-left: 43px;
   padding-right: 43px;
   
  
}
.btnedytuj{
   color: black;
   font-size: 22px;
   background: #e7c800;;
   /* display: inline-block;
   width: min-content;
   white-space: nowrap; */
   border: 1px solid transparent;
   border-radius: 3px;
   padding: 10px;
   line-height: 1.7;
   
   text-transform: uppercase;
   text-align: right;
   border-radius: 5px 5px 5px 5px;
   font-weight: 600;
   clear: both;
   padding-left: 31px;
   padding-right: 31px;
   
  
}

.btndodaj{
   color: black;
   font-size: 18px;
   background: #e7c800;;
   /* display: inline-block;
   width: min-content;
   white-space: nowrap; */
   border: 1px solid transparent;
   border-radius: 3px;
   padding: 5px;
   line-height: 1.7;
   
   text-transform: uppercase;
   text-align: right;
   border-radius: 5px 5px 5px 5px;
   font-weight: 600;
   
  
}

 
.btn:hover {
    color: #fff;
    cursor: pointer;
 }

 .loginbutton{
     text-align: right;
     padding-right: 20px;
 }

 .utworz{
     padding-left: 20px;
     font-size: 16px;
     text-align: left;
     padding-top: 20px;
     color: rgb(255, 255, 255);
 }

 .utworz a{
     font-weight: 600;
     color: #e7c800;
 }

 .bodylogowanie{
   background-color: #2f2f2f;
}

  /* logowanie koniec*/

  .error {
    color: red;
 }
 
 .errors {
    color: red;
 }

 .nieznaleziono h1{
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 26px;
 }


  /* index */

   /* .indexborder{
background-color: #232323;
width: 100%;
height: 100%;
 }
 .indeximage{
   height: 850px;
   width: 100%;
   background-size: cover;
 }
  */
  .indexborder{
   background-color: #232323;
   color: white;
}

.banner-area{
   width: 100%;
   height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(car1.jpg);
    background-size: cover;
}
.content-area{
   height: 180%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
}

.content{
   text-align: center;
}



  .dalej{
     background-color: #2f2f2f;
     color: white;
  }


  .index {
   text-align: center;
   margin: auto;
   width: 100%;
   font-size: 24px;
   color: white;
   background-color: #2f2f2f;
}

.index .ramka {
   text-align: center;
   margin: auto;
   width: 100%;
   height: 500px;
   background-color: white;
   border-bottom: 1px solid white;
   border-top: 1px solid white;
   box-shadow: var(--box-shadow);
   background-color: #2f2f2f;
     color: white;

}
.przerwaa{
   text-align: left;
   padding: 25px;
}
.index .ramka:first-child {
  padding-top: 50px;
 margin-bottom: 40px;
 border-bottom: none;
}
/* .index h3{
   text-align: center;
   padding-left: 3%;
   border: 1px solid white;
   width: 100%;
   padding: 15px;
   background-color: white;
} */

.index .place{
   text-align: center;
   padding-left: 3%;
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   width: 100%;
   /* padding: 15px; */
   background-color: white;
   padding-bottom: 20px;
   box-shadow: var(--box-shadow);
   
   
}

.index .tekst{
   text-align: left;
   color: white;
   font-size: 22px;

}
.index .column{
   float: left;
   width: 54%;
}


.index .imie{
   font-size: 22px;
   font-weight: 800;
   padding-left: 10%;
   color: white;
   text-align: left;
   padding-top: 30px;
   
}
 .index p{
    
    
   font-size: 18px;
   color: white;
   text-align: left;
    float: left; 
   
  padding: 10px;
  width: 30%;
  
} 
.index #cena{
   padding-top: 8%;
   font-size: 22px;
   font-weight: 800;
   color: white;
   width: 25%;
 
} 





.index .column .image-resize {
   height: 400px;
   width: 86%;
   border-radius: 1%;
   box-shadow: var(--box-shadow);
   border-radius: 1%;
   overflow: hidden;
   object-position: center center;
   object-fit: cover;
   padding-top: 25px;
}



 /* index */

 /* oferty */
 nav.pagination {

   text-align: center;
}

.pagination ul {
   display: inline-block;
   list-style-type: none;
   margin: 0 0 2em 0;
   padding: 0;
}

.pagination ul li {
   display: inline-block;
}

.pagination a.active {
   color: #ffffff;
   border: 1px solid #295073;
   background-color: #776700;
   padding: .1rem .5rem;
}

.btnpage,
.btnpage-search {
   color: #fff;
   background: #e7c800;
   display: inline-block;
   width: min-content;
   white-space: nowrap;
   border: 1px solid transparent;
   border-radius: 5px;
   padding: .1rem .5rem;
   line-height: 1.7;
   vertical-align: middle;
   text-transform: uppercase;

}



 .oferty {
   text-align: center;
   margin: auto;
   width: 100%;
   font-size: 24px;
   color: white;
   background-color: #2f2f2f;
   padding-top: 100px;

}

.oferty .ramka {
   text-align: center;
   margin: auto;
   width: 100%;
   height: 500px;
   background-color: white;
   border-bottom: 1px solid white;
   border-top: 1px solid white;
   box-shadow: var(--box-shadow);
   background-color: #2f2f2f;
     color: white;

}

/* .index h3{
   text-align: center;
   padding-left: 3%;
   border: 1px solid white;
   width: 100%;
   padding: 15px;
   background-color: white;
} */

.oferty .place{
   text-align: center;
   padding-left: 3%;
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   width: 100%;
   /* padding: 15px; */
   background-color: #2f2f2f;
   padding-bottom: 20px;
   box-shadow: var(--box-shadow);
   
   
}
.oferty .adminplace{
   text-align: center;
   padding-left: 3%;
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   width: 100%;
   /* padding: 15px; */
   background-color: #2f2f2f;
   padding-bottom: 20px;
   box-shadow: var(--box-shadow);

   
   
}

.oferty .tekst{
   text-align: left;
   color: white;
   font-size: 22px;

}
.oferty .column{
   float: left;
   width: 54%;
}


.oferty .imie{
   font-size: 22px;
   font-weight: 800;
   padding-left: 10%;
   color: white;
   text-align: left;
   padding-top: 30px;
   
}
 .oferty p{
    
    
   font-size: 18px;
   color: white;
   text-align: left;
    float: left; 
   
  padding: 10px;
  width: 30%;
  
} 
.oferty #cena{
   padding-top: 8%;
   font-size: 22px;
   font-weight: 800;
   color: white;
   width: 30%;
 
} 





.oferty .column .image-resize {
   height: 400px;
   width: 86%;
   border-radius: 1%;
   box-shadow: var(--box-shadow);
   border-radius: 1%;
   overflow: hidden;
   object-position: center center;
   object-fit: cover;
   padding-top: 25px;
}


.form-search input[type=text] {
   font-size: 18px;
   padding: .2rem .5rem;
   line-height: 1.6;
   vertical-align: bottom;
   border-right: none;
   color: white;
   border-radius: 4px 0 0 4px;
   width: 20%;
   background-color: #000000;
}

.btnpage{
   color: black;
}

.oferty .place p{
   text-align: center;
   width: 95%;
}

.oferty .ramka:first-child {
   border-top: none;
 }






 /* oferty koniec */

 /* oferta*/

 .oferta {
   text-align: center;
   margin: auto;
   width: 100%;
   font-size: 24px;
   color: white;
   background-color: #2f2f2f;
   padding-top: 100px;

}

.oferta .ramka {
   text-align: center;
   margin: auto;
   width: 100%;
   height: 500px;
   background-color: white;
   border-bottom: 1px solid white;
   border-top: 1px solid white;
   box-shadow: var(--box-shadow);
   background-color: #2f2f2f;
     color: white;

}

/* .index h3{
   text-align: center;
   padding-left: 3%;
   border: 1px solid white;
   width: 100%;
   padding: 15px;
   background-color: white;
} */

.oferta .place{
   text-align: center;
   padding-left: 3%;
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   width: 100%;
   /* padding: 15px; */
   background-color: #2f2f2f;
   padding-bottom: 20px;
   box-shadow: var(--box-shadow);
   
   
}

.oferta .tekst{
   text-align: left;
   color: white;
   font-size: 22px;
  
}
.oferta .column{
   float: left;
   width: 54%;

}


.oferta .imie{
   font-size: 22px;
   font-weight: 800;
   padding-left: 10%;
   color: white;
   text-align: left;
   padding-top: 30px;
   
}
 .oferta p{
    
    
   font-size: 18px;
   color: white;
   text-align: left;
    float: left; 
   
  padding: 10px;
  width: 30%;
  
} 
.oferta #cena{
   padding-top: 8%;
   font-size: 22px;
   font-weight: 800;
   color: white;
   width: 25%;
 
} 





.oferta .column .image-resize {
   height: 400px;
   width: 86%;
   border-radius: 1%;
   box-shadow: var(--box-shadow);
   border-radius: 1%;
   overflow: hidden;
   object-position: center center;
   object-fit: cover;
   padding-top: 25px;
}

 /* oferta koniec*/


 /* wypozycz*/

 .wypozycz {
   text-align: center;
   margin: auto;
   width: 100%;
   font-size: 24px;
   color: white;
   background-color: #2f2f2f;
   padding-top: 100px;
   /* border-top: 2px solid white; */
}
.wypozycz .forms {
   padding-bottom: 200px;
   /* border: 3px solid blue; */
   font-size: 20px;
   text-align: left;
}

.wypozycz .ramka {
   width: 100%;
   height: 250px;
   background-color: white;
   /* border-bottom: 1px solid white;
   border-top: 1px solid white; */
   box-shadow: var(--box-shadow);
   background-color: #2f2f2f;
     color: white;
     /* border: 3px solid green; */
   
     

}
.wypozycz .ramka .btnpotw{
   text-align: center;
}


/* .index h3{
   text-align: center;
   padding-left: 3%;
   border: 1px solid white;
   width: 100%;
   padding: 15px;
   background-color: white;
} */

.wypozycz .place{
   text-align: center;
   padding-left: 3%;
   /* border-top: 1px solid white;
   border-bottom: 1px solid white; */
   width: 100%;
   /* padding: 15px; */
   background-color: #2f2f2f;
   padding-bottom: 20px;
   box-shadow: var(--box-shadow);
   
   
}

.wypozycz .tekst{
   text-align: center;
   color: white;
   font-size: 22px;
   /* border: 3px solid red; */
   width: 55%;
   float: left;

}
.wypozycz .tekst1{
   text-align: center;
   color: white;
   font-size: 22px;
   /* border: 3px solid red; */
   width: 55%;
   float: left;

}



.wypozycz .forms #start{
   width: 12%;
   font-size: 20px;
   border-radius: 5px 5px 5px 5px;
   background-color: #e7c800;
   color: black;
   
}






.wypozycz .imie{
   font-size: 22px;
   font-weight: 800;
   color: white;
   text-align: center;
   /* border: 1px solid white; */
   padding-bottom: 10px;
   padding-top: 20px;
   
}
 .wypozycz p{
   font-size: 18px;
   color: white;
   text-align: left;
  /* border: 1px solid white; */
  padding-bottom: 10px;
  padding-left: 50%;
  
} 
.wypozycz #cena{
   font-size: 22px;
   font-weight: 800;
   color: white;
   text-align: center;
   /* border:3px solid purple; */
   text-align: right;
   padding-top: 60px;
 
} 

.wypozycz .column{
   text-align: center;
   padding-left: auto;
   padding-right: auto;
   /* border: 2px solid white; */
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   width: 100%;
   padding-bottom: 20px;
   
}



.wypozycz .column .image-resize {
   height: 200px;
   width: 25%;
   border-radius: 1%;
   box-shadow: var(--box-shadow);
   border-radius: 1%;
   overflow: hidden;
   object-position: center center;
   object-fit: cover;
   padding-top: 25px;

}


.btnpotw{
   color: black;
   font-size: 22px;
   background: #e7c800;;
   /* display: inline-block;
   width: min-content;
   white-space: nowrap; */
   border: 1px solid transparent;
   border-radius: 3px;
   padding: 10px;
   line-height: 1.7;
   
   text-transform: uppercase;
   text-align: center;
   border-radius: 5px 5px 5px 5px;
   font-weight: 600;
   text-align: center;
   
  
}
.wypozycz .form-con {
   padding: 3px;
   width: 12%;
   font-size: 18px;
   background-clip: padding-box;
   box-shadow: 3px 3px 7px rgb(39, 39, 39);
   background-color: #000000;
   color: white;
   border-radius: 5px 5px 5px 5px;
   background-color: #e7c800;
   color: black;
}

 /* wypozycz koniec*/

  /* moje konto*/


.mojekonto{
   padding-top: 120px;
   text-align: center;
   color: white;
   font-size: 20px;
   border-bottom: 1px solid white;
}
.mojekonto p{
   padding: 10px;
}

.mojekonto .ramka{

   width: 30%;
   margin-left: auto;
   margin-right: auto;

   text-align: left;
}
.mojekonto .imie{
   font-weight: 600;
   font-size: 24px;

}


.mojekonto2{
   padding-top: 15px;
   text-align: center;
   color: white;
   font-size: 20px;
   border-bottom: 1px solid white;
}
.mojekonto2 p{
   padding: 10px;

}

.mojekonto2 .price{
  
   padding-left: 30%;
}

.mojekonto2 .ramka{

   width: 30%;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
.mojekonto2 .imie{
   font-weight: 600;
   font-size: 24px;
   padding-bottom: 10px;
  

}
.onerent{
   border-top: 1px solid white;

}
  /* moje konto koniec*/
  /* klienci */

  .klienci{
   padding-top: 120px;
   text-align: center;
   color: white;
   font-size: 20px;
   border-bottom: 1px solid white;
}
.klienci p{
   padding: 10px;
}

.klienci .tekst1{
   float: left;

   height: 150px;
   width: 55%;
   padding-left: 15%;
}
/* .klienci .tekst2{

} */
.klienci .calytekst{

   width: 60%;
   margin-left: auto ;
   margin-right: auto;
   color: white;
}

.klienci .ramka{

   width: 100%;
   margin-left: auto;
   margin-right: auto;

   text-align: left;
}
.klienci .rama{
   border-top: 1px solid white;
   border-bottom: 1px solid white;
}

.klienci .imie{
   font-weight: 600;
   font-size: 24px;
   padding-left: 26%;
   color: #e7c800;

}


  /* klienci koniec */
  /* kontakt  */

.box{
   padding-top: 120px;
   border-bottom: 1px solid white;
   color: white;
   padding-bottom: 3%;
}
.box .ramka{
   padding-left: 40%;
}
.box h1{
   font-size: 24px;
   padding: 5px;
}
.box p{
   font-size: 18px;
   padding-left: 2%;
   padding: 5px;
   
}

  /* kontakt koniec */


